@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container bg-ligth p-4">
    <h2>Acceso denegado</h2>
    <p>No Tienes Permisos para acceder a esta pagina</p>
    <p><a class="btn btn-outline-primary" asp-action="Login">Iniciar session</a></p>
</div>